{:source-paths ["src" "test"]
 :dependencies [[cljs-node-io/cljs-node-io     "1.1.2"]
                [org.clojure/tools.cli         "1.0.206"]
                [refactor-nrepl/refactor-nrepl "2.5.1"]]

 :nrepl
 {:port  3333
  :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}}

 :builds
 {:script {:target     :node-script
           :output-to  "out/main.js"
           :exports-fn uniorg-util.core/create-files
           :main       uniorg-util.core/-main}
  :test   {:target    :node-test
           :output-to "out/node-tests.js"
           :ns-regexp "-test$"
           :autorun   true}
  :ci     {:target    :karma
           :output-to "out/ci.js"
           :ns-regexp "-test$"
           :autorun   true}
  }}
